.main {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100vh;
  gap: 30px;
}

.pannel_left {
  height: 100%;
}

.employees {
  height: 100%;
  max-height: 100%;
}

.work {
  height: 100%;
  max-height: 100%;
  width: 65%;
}
